<div class="home-header text-center container-fluid">
  <h1>Welcome to DevMatch!</h1>
  <h3>A membership site where entrepreneurs and developers can meet.</h3>
</div>

<!-- Sign up buttons -->
<div class="container home-sign-up">
  <div class="row">
    
    <!-- Basic Membership -->
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4 class="text-center">Sign up for free and get basic access to the community.</h4>
        <br>
        <%= link_to "Sign up with Basic", "#", class: 'btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
    
    <!-- Pro Membership -->
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Membership</h2>
        <h4 class="text-center">Get access to the community and contact info for only $1/month!</h4>
        <br>
        <%= link_to "Sign up with Pro", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    
  </div>
</div>