<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <!-- Notification for ourseleves -->
        <p>You have received a message a message from the site's 
        contact form, from <%= "#{ @name}, #{ @email}."%></p>
        <p><%= @body %></p>
    </body>
</html>